__pycache__
config.pyc
main.pyc
run.pyc
.pytest_cache
tests/.pytest_cache
tests/__pycache__


__pycache__/main.cpython-36.pyc
__pycache__/main.cpython-36.pyc
.coverage

  - psql -c "CREATE USER carpool WITH PASSWORD 'carpool';" -U postgres
  - psql -c """CREATE TABLE users(
        id serial PRIMARY KEY,
        username varchar UNIQUE,
        firstname varchar,
        lastname varchar,
        email varchar UNIQUE, 
        password varchar);""" -U postgres
  - psql -c """CREATE TABLE rides(
            id serial PRIMARY KEY,
            driver varchar UNIQUE NOT NULL,
            destination varchar,
            departure_time varchar, 
            route varchar, 
            extras varchar);""" -U postgres
  - psql -c "grant all on users to carpool;" -U postgres
  - psql -c "grant all on users_id_seq to carpool;" -U postgres